insecure: true
listenaddr: "0.0.0.0:8080"
debuglevel: "debug"
dbbackend: "sqlite"
authenticator:
  network: "mainnet"
  lndhost: "mycelia.m.voltageapp.io:10009"
  tlspath: "/home/jonathan_bulkeley/slo/creds/tls.cert"
  macdir: "/home/jonathan_bulkeley/slo/creds"
services:
  - name: "slo-spot"
    hostregexp: ".*"
    pathregexp: "^/oracle/btcusd$"
    address: "127.0.0.1:9100"
    protocol: "http"
    price: 10
  - name: "slo-vwap"
    hostregexp: ".*"
    pathregexp: "^/oracle/btcusd/vwap$"
    address: "127.0.0.1:9101"
    protocol: "http"
    price: 20
  - name: "slo-ethusd"
    hostregexp: ".*"
    pathregexp: "^/oracle/ethusd$"
    address: "127.0.0.1:9102"
    protocol: "http"
    price: 10
  - name: "slo-eurusd"
    hostregexp: ".*"
    pathregexp: "^/oracle/eurusd$"
    address: "127.0.0.1:9103"
    protocol: "http"
    price: 10
  - name: "slo-dlc-attestation"
    hostregexp: ".*"
    pathregexp: "^/dlc/oracle/attestations/.*$"
    address: "127.0.0.1:9104"
    protocol: "http"
    price: 1000
